  .hero-section {
    background-image: url('/assets/images/vows-on-the-move-p0vZplFhKYI-unsplash.jpg'); 
    background-size: cover;
    background-position: center;
    color: #fff; 
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    text-align: center;
}

.hero-title {
    color: #ffffff; 
}

.hero-text {
    color: #fff; 
}