  .hero-section {
    background-image: url('/assets/images/chang-duong-Sj0iMtq_Z4w-unsplash.jpg'); 
    background-size: cover;
    background-position: center;
    color: #fff; 
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    text-align: center;
}

.hero-title {
    color: #000000; 
    margin-bottom: 10px;
}

.hero-text {
    color: #000000; 
}

.hero-button {
    margin-top: 10px;
}